/* ログイン 登録*/

.login-container:after, .register-container:after, .usercenter-container:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: inherit;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    z-index: 2;
}


.login-content, .register-content {
    width: 510px;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 0 6px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 45px;
    position: absolute;
    z-index: 11;
    transform: translate(-50%, -50%);
}

.logo {
    position: absolute;
    height: 240px;
    top: 10px;
    left: 10px;
    z-index: 12;
}

.login-container {
    background: url("../images/bg-login.jpg") no-repeat fixed;
}

.register-container {
    background: url("../images/bg-register.jpg") no-repeat fixed;
}

.usercenter-container {
    background: url("../images/bg-usercenter.jpg") no-repeat fixed;
}

.login-container, .register-container, .usercenter-container {
    width: auto;
    height: 935px;
    position: relative;
    padding: 1px;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    z-index: 1;
}

.register-form {
    width: auto;
}

.home-content-measure {
    width: 450px;
    height: 250px;
    padding: 5px;
    margin: 10px;
    border: 1px darkgray solid;
    border-radius: 150px;
    float: left;
}

.home-content-measure .form_input {
    margin: 0 auto;
}

.home-content-measure .form_input h2 {
    text-align: center;
}

.home-content-measure form {
    width: 300px;
    margin: 0 auto;
}

.home-content-explain {
    width: 420px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    float: right;
    border: 1px darkgray solid;
    border-radius: 10px;
}

.home_data-content, .usercenter-content {
    width: 480px;
    left: 10%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 0 6px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 45px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.usercenter-content {
    width: 510px;
    left: 50%;
    z-index: 11;
}

.usercenter-tb {
    border-collapse: collapse;
    border-spacing: 2px 15px;
}

.top-bar a {
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}

.top-bar a:hover, a:active {
    color: black;
}

/*login page by password and fingerprint start*/
.form_input {
    width: 300px;
    height: 300px;
    left: 10px;
    top: 10px;
    position: relative;
    perspective: 800px;
    margin: 20px auto;
}

.login-flip {
    width: 48px;
    height: 48px;
    left: 10px;
    top: 10px;
    position: relative;
    perspective: 800px;
    margin: 20px auto;
    float: right;
}

.login-flip:hover {
    transform: scale(0.9);
}

#card, #login-img {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    /*border: 1px solid red;*/
}

#card > div, #login-img > img {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#card .login_by_pw {
    /*border: 1px solid red;*/
    /*    background: red;*/
}

#card .login_by_fp, #login-img .by-password {
    /*    background: blue;*/
    /*border: 1px solid blue;*/
    transform: rotateY(180deg);
}

#card.flipped, #login-img.flipped {
    transform: rotateY(180deg);
}

.reset_password {
    float: right;
}


.left-20 {
    left: -20px;
}

/*login page by password and fingerprint end*/

.test2-width {
    width: 400px;


}