{% extends 'base.html' %}
{% load static %}

{% block header_con %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        {#<div class="container d-flex justify-content-between">#}
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="navbar-brand" href="{% url 'home:index' %}">ホームページ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="{% url 'home:testcharts' %}">説明 </a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:test2' %}">検測</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:test' %}">すべてのデータ</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:show_data' %}">可視化</a>
                    </li>
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                           data-toggle="dropdown"#}
{#                           aria-haspopup="true" aria-expanded="false">#}
{#                            健康検査#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <a class="dropdown-item" href="#">疲れ程度</a>#}
{#                            <a class="dropdown-item" href="#">疲れ程度</a>#}
{#                            <a class="dropdown-item" href="#">疲れ程度</a>#}
{#                            <a class="dropdown-item" href="#">疲れ程度</a>#}
{#                            <a class="dropdown-item" href="#">疲れ程度</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="nav-link" href="#">アンケート</a>#}
{#                    </li>#}
                </ul>
{#                <div class="welcome fl">疲れ検査へようこそ!</div>#}
                <div class="top-bar">
                    {% if user.is_authenticated %}
                        <div class="login_btn fl">
                            <a>お帰り:</a><em>{{ nickname }}</em>
                            <span>|</span>
                            <a href="{% url 'user:logout' %}">ログアウト</a>
                        </div>
                    {% else %}
                        <div class="login_btn fl">
                            <a href="{% url 'user:login' %}">ログイン</a>
                            <span>|</span>
                            <a href="{% url 'user:register' %}">登録</a>
                        </div>
                    {% endif %}
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="{% url 'user:usercenter' %}">ユーザーセンター</a>
{#                        <a href="#">ユーザーセンター</a>#}

                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock header_con %}
