{% extends 'base_haveTopBar.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}
    <div class="container-fluid homepage-container">
        <div class="container">
            <div class="home-content">
                <div class="home-content-measure">
                    <div class="form_input">
                        <h2 class="home-content-measure-title">データ増加</h2>
{#                        <form action="{% url 'user:index' %}" method="post">#}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="number" min="0" max="200" class="form-control" name="pulse" id="pulse"
                                       placeholder="脈拍数入力">
                            </div>
                            <div class="form-group">
                                <input type="number" min="0" max="5" class="form-control" name="health_level" id="health_level"
                                       placeholder="健康レベル入力">
                            </div>
                            <button type="submit" class="btn btn-primary btn-outline-dark　btn-lg" name="" value="データ増加">データ増加</button>
                        </form>
                        <br>

                    </div>
                </div>
                <div class="home-content-explain">
                    <p>説明-------------------------------------説明</p>
                    <p>これは疲れ検査これは疲れ検査これは疲れ検査これは疲れ検査これは疲れ検査</p>
                    <p>これは疲れ検査これは疲れ検査これは疲れ検査これは疲れ検査これは疲れ検査</p>

                </div>
                <div class="home-result">

                </div>

            </div>
            <div class="home_data-content">
            {% if user.is_authenticated %}
            <h2>{{ nickname }}様の検査履歴 </h2>
            <br>
            <table>
                <tbody>
                <tr>
                    {#<th>データ番号</th>#}
                    <th>脈拍数</th>
                    <th>健康レベル</th>
                    <th>作成時間</th>
                </tr>
                {% for data in measurements_data %}
                    <tr>
                        {# <td>{{ measur_data.data_id }}</td>#}
                        <td>{{ data.pulse }}</td>
                        <td>{{ data.level }}</td>
                        <td>{{ data.create_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            {% endif %}
        </div>
        </div>

    </div>
{% endblock body %}
