{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock head %}
{% block body %}
    <div class="container-fluid login-container">
        <div class="logo clearfix">
{#            <a href="{% url 'home:test' %}" class="logo">#}
{#                <img class="rounded-pill rounded-sm" src="{% static 'images/this-is-fine.gif' %}">#}
{#            </a>#}
        </div>

        <div class="login-content clearfix">
            <div class="login-form fr">

                <div class="login-title clearfix">

                    <div class="login-flip ">
                        <a id="flip" href="">
                            <div id="login-img">
                                <img class="by-finger" src="{% static 'images/fingerprint.png' %}" alt=""
                                     data-toggle="tooltip" data-placement="top" title="指紋でログイン">
                                <img class="by-password" src="{% static 'images/login-by-password.png' %}" alt=""
                                     data-toggle="tooltip" data-placement="top" title="パスワードでログイン">
                            </div>
                        </a>
                    </div>
                    <h1>ログイン</h1>
                    <a href="{% url 'user:register' %}">新規登録</a>
                    {#                    <button id="flip">Flip Card</button>#}
                </div>
                <div class="form_input">
                    <div id="card">
                        <div class="login_by_pw">
                            <form method="post"
                                  id="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" id="username"
                                           aria-describedby="emailHelp"
                                           placeholder="ユーザー名">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="pwd" id="pwd" placeholder="パスワード">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" class="check-input" name="remember" id="remember">
                                    <label class="form-check-label" for="remember">ユーザー名を保存</label><br>
                                    <a class="reset_password" href="#">パスワードをお忘れの方</a>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="identity_type" value="1"><br>
                                    <button type="submit" class="btn btn-primary ">ログイン</button>
                                </div>
                            </form>
                        </div>
                        <div class="login_by_fp">
                            <form method="post" class="mx-0 justify-content-center align-items-center w-100" id="formLogin">
                                {% csrf_token %}
                                <div class="form-group col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">指紋</div>
                                        </div>
                                        <input type="text" class="form-control" id="fingerprintLogin"
                                               placeholder="指紋獲得中" disabled>
                                    </div>
                                </div>

                                <div class="spinner-grow text-secondary" style="width: 6rem; height: 6rem;"
                                     role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="identity_type" value="3">
                                    <input type="hidden" class="form-control" name="fingerprintDataLogin"
                                           id="fingerprintDataLogin">
                                </div>

                                <button type="submit" class="btn btn-primary ">ログイン</button>
                            </form>
                        </div>

                    </div>
                </div>
                {{ errmsg }}
            </div>

        </div>
    </div>

{% endblock body %}