{% extends 'base_haveTopBar.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}
    <div class="container-fluid mypage-container">
        <div class="mypage-content">
            <h2>{{ username }}様の検査履歴 </h2>
            <br>
            <table>
                <tbody>
                <tr>
                    {#<th>データ番号</th>#}
                    <th>脈拍数</th>
                    <th>健康レベル</th>
                    <th>作成時間</th>
                </tr>
                {% for measur_data in measur_datas %}
                    <tr>
                        {# <td>{{ measur_data.data_id }}</td>#}
                        <td>{{ measur_data.pulse }}</td>
                        <td>{{ measur_data.level }}</td>
                        <td>{{ measur_data.create_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>

        </div>
    </div>
{% endblock body %}
