{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock head %}
{% block body %}
    <div class="container-fluid register-container">
        <div class="logo clearfix">
            <a href="{% url 'home:test' %}" class="logo">
                <img src="{% static 'images/logo01.png' %}">
            </a>
        </div>
        <div class="register-content clearfix">
            <div class="register-form fr">
                <div class="register_title clearfix">
                    <h1>新規登録</h1>
                    <a href="{% url 'user:login' %}">ログイン</a>
                </div>
                <div class="form_input">
                    <form action="{% url 'user:register' %}" method="post" id="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="username"
                                   aria-describedby="emailHelp"
                                   placeholder="ユーザー名">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="pwd" id="pwd"
                                   placeholder="パスワード">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="cpwd" id="cpwd"
                                   placeholder="も一度パスワード">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email"
                                   aria-describedby="emailHelp"
                                   placeholder="メールアドレス">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="allow" id="allow">
                            <label class="form-check-label" for="allow">私はロボットではありません</label>
                        </div>
                        <button type="submit" id="register" class="btn btn-primary">登　録</button>
                    </form>
                    {{ errmsg }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
